{%  extends "base.html.twig" %}

{% block title  'Mon panier' %}

{% block body  %}

    <div class="container mt-4">
        {% if not app.user %}
            <div class="alert alert-warning" role="alert">
                Vous n'êtes pas connecté.
                <a class="link ml-2" href="{{ path('app_login') }}">Me connecter</a>
            </div>
        {% endif %}
        {% if  app.session.get('favoris')|length > 0 %}
            <a class="link ml-2" href="{{ path('property.clear') }}">Effacer mes favoris</a>
        {% endif %}
        <table class="table" id="myTable">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nom propriété</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if  app.session.get('favoris')|length == 0 %}
                        <tr>
                            <td style="width: 100%" class="text-center">Aucun favoris</td>
                        </tr>
                    {% else %}
                        {% for property in properties %}
                            <tr>
                                <td>{{ property.title }}</td>
                                <td>{{ property.adress }}</td>
                                <td>{{ property.price }}</td>
                                <td id="parent{{ property.id }}">
                                    <a class="btn ml-2 btnFavoris"
                                       data-id="{{ property.id }}"
                                       data-type="removeFavoris">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    <a class="link ml-2" href="{{ path('property.show', {id: property.id,
                                        slug : property.slug}) }}">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
                    {% endif %}
        </table>
    </div>
{% endblock %}